.theorem{ display:block; margin-left:10px; margin-bottom:20px; font-style:normal;}
.theorem:before{ content:"Theorem.\00a0\00a0"; float:left; font-weight:bold; }
.theorem[text]:before { content: "Theorem (" attr(text) ").\00a0\00a0"; }


.proof{ display:block; margin-left:10px; margin-bottom:30px; font-style:normal;}
.proof:before{ content:'Proof.\00a0\00a0'; float:left; font-weight:bold;}
.proof:after{ content:"\25FC"; float:right;}
